{% extends 'news/base.html' %}
<!--наследую главный шаблон-->
{% block title %} Главная страница {% endblock %}

{% block content %}
<!--вывод новостей из базы данных через цикл-->

<div class="container mt-3">
    <h1>{{ title }}</h1>
    <p></p>
    <div class="col-md-4">
        <div class="list-group">
            {% for i in categories %}
            <a href="#" class="list-group-item list-group-item-action">{{ i.title }}</a>
            {% endfor %}
            <p></p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            {% for i in news %}
            <div class="card mb-3">
                <div class="card-header">
                    {{ i.category }}
                </div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="card-title">{{ i.title }}</h5>
                            <p class="card-text">{{ i.content }}</p>
                            <a href="/" class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{ i.created_ad }}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}